.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.post img {
  width: 100%;
  border-radius: var(--border-radius);
}

.topic-tags {
    overflow-x: scroll;
}

.topic-tags a {
    display: inline-block;
    background-color: var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    margin: 0.5rem 0.5rem 0.5rem 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
}
