img {
  width: 100%;
}

.img-ctrl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
}

.circles {
  gap: 0.5rem;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(72, 102, 113, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: var(--accent-color);
}

.product-info {
  padding: 1rem;
  width: 100%;
}

.tags {
  padding: 0 0 1rem;
}

.tags span {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.id-no {
  font-size: 0.8rem;
  color: rgb(128, 128, 128);
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
}

.id-no,
.price {
  align-self: flex-end;
}

.qty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-weight: 600;
  font-size: 0.75rem;
}

.qty input {
  width: 2.5rem;
  padding: 0 0.15rem;
  border: none;
  background: none;
  font-family: "Public Sans", sans-serif;
  border-bottom: 1px solid var(--main-text-color);
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
  margin-left: 5px;
}

.product-info button {
  width: 100%;
}

.wishlist {
  align-self: flex-end;
  font-size: 0.8rem;
  color: var(--accent-color);
  cursor: pointer;
}

.wishlist:hover {
  text-decoration: underline;
}

.version p {
  text-transform: uppercase;
}

.samples {
  gap: 0.5rem;
}

.samples img {
  width: 48px;
  padding-bottom: 5px;
}

.active-sample {
  border-bottom: 2px solid var(--accent-color);
}

.dimensions p:nth-child(1) {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #808080;
}

.dimensions p {
  font-size: 0.8rem;
}

details {
  width: 100%;
}

summary::marker {
  content: "";
}

.summary-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
summary {
  font-weight: 300;
  cursor: pointer;
  width: 100%;
}

.details {
  list-style-type: square;
  padding: 1rem;
}

.details li,
details p {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.5rem 0;
}

/* Media Queries */

/* min width 890px - Tablets */

@media screen and (min-width: 890px) {
  .image-container {
    height: 50vh;
    width: 100%;
  }

  .image-container img {
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }

  .product-info {
    padding: 3rem;
  }

  .version,
  .qty,
  .product-info button,
  .wishlist,
  .dimensions,
  details,
  hr {
    width: 70%;
    align-self: center;
  }
}

/* min width 1200px - desktop */

@media screen and (min-width: 1200px) {
  .image-container {
    height: 70vh;
  }

  .image-container img {
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }
}

/* min width 1400px - desktop */

@media screen and (min-width: 1400px) {
  .product {
    flex-direction: row;
  }

  .image-container {
    width: 50%;
    height: 90vh;
  }

  .image-container img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    box-shadow: var(--box-shadow);
  }

  .product-info {
    width: 50%;
    padding: 3rem;
  }

  .price,
  .id-no,
  .version,
  .qty,
  .product-info button,
  .wishlist,
  .dimensions,
  details,
  hr {
    align-self: flex-start;
    width: 90%;
  }
}
